body {
    margin: 0 auto;
    width: 99.5%;
    background-color: #10876f;
}

h1 {
    background-color: #080808;
    color: #ffffff;
    text-shadow:  1.5px 1.5px #ff0000;
    border: outset 1.5px #ffffff;
    margin-top: 10px;
    font-family: Helvetica, Georgia, Arial, "Times New Roman";
	font-size:300%;
    margin-top: 8px;
	margin-bottom: 150px;
	text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-variant: small-caps;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius:15px;
}

h2 {
    font-size:200%;
    margin-top: 20px;
    text-align:  center;
    color: #ffffff;
    text-shadow:  2.5px 2.5px #000000;
    margin-bottom: 60px;
}

.container {
	text-align: center;
	width: auto;
	margin: auto;
}

#reset {
    font-size: 175%;
    font-family: Helvetica, Georgia, Arial, "Times New Roman";
    display: inline-block;
    background-color: #ffffff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius:12px;
    width: 130px;
    height: 60px;
    margin-left: 40px;
    font-weight: bold;
}

#trashcan {
    display: inline-block;
    background-color: #828185;
	border: solid 1.5px #080808;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius:15px;
  height: 140px;
  width:  100px;
  display: inline-block;
  margin-left: 80%;
  margin-top: 200px;
}

#card1 {
	border: solid 1.5px #080808;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius:15px;
  height: 140px;
  width:  100px;
  
  margin-right: 60px;
  display: inline-block;
}

#card2 {
	border: solid 1.5px #080808;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius:15px;
  height: 140px;
  width:  100px;
  margin-left: 60px;
  margin-right: 60px;
  display: inline-block;
}

#card3 {
	border: solid 1.5px #080808;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius:15px;
  height: 140px;
  width:  100px;
  margin-left: 60px;
  margin-right: 60px;
  display: inline-block;
}

#card4 {
	border: solid 1.5px #080808;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius:15px;
  height: 140px;
  width:  100px;
  margin-left: 60px;
  
  display: inline-block;
}

footer {
    margin: 40px;
    font-weight: bold;
}